<h1>Your Checklist is successfully saved...!<h1>
    <h4>ashoka buildcon limited</h4>
     <!--Modal-->
     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Are you sure to Send Checklist to Project QA ....?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Send Checklist  and confirm resolution..!
            </div>
            <div class="modal-footer">
               
              <a href="{% url 'closed-checklist' pk=pk %}" class="btn btn-primary">Close</a>
            </div>
          </div>
        </div>
      </div>
