
{% extends 'checkapp/base.html' %}
{% load crispy_forms_tags %}
{% block title %} 
   {{ page_title }}
{% endblock title %}

{% block formcontent %}

<div class="container">
  <div class="row justify-content-left">
      <div class="col-md-11">
          <div class="card bg-color">
              <div class="card-body">
                  
                      <b>ASHOKA BUILDCON LTD. ASHOKA HOUSE, ASHOKA MARG , ASHOK NAGAR, NASHIK-422011</b>
                      <hr class="custom-hr">
                      <b>Execution & Quality Assurance structures Work Instruction</b>
                      <hr class="custom-hr">
                      <b>Doc No: WI/CO/DO/PR/EQA(STR)/32   |   REF: QMS 8.5.1,8.5.5  |  PAGE 1 OF 1</b><hr class="custom-hr">
                      <b>Issue No : 02    |    Issue Date: 01st August 2018</b><hr class="custom-hr">
                      <b>Rev No : 01    |    Rev Date: 01st August 2018</b><hr class="custom-hr">
                      <!-- <b>Title :  Check for Structures </b><hr class="custom-hr"> -->
              </div>
          </div>
          </div>
  </div>
</div>

   
        <h1>Data from CheckList_Trans_Header</h1>
        <ul>
            {% for header in headerDatabase %}
            <li>
                <strong>Doc_ID:</strong> {{ header.Doc_ID }}<br>
                <strong>CheckList_ID:</strong> {{ header.CheckList_ID }}<br>
                <strong>Project_Name:</strong> {{ header.Project_Name }}<br>
                <strong>Site_Name:</strong> {{ header.Site_Name }}<br>
                <strong>Name_Of_ABLStaff:</strong> {{ header.Name_Of_ABLStaff }}<br>
                <strong>Inspection_Start_Date:</strong> {{ header.inspection_Start_Date }}<br>
                <strong>Contractor:</strong> {{ header.Contractor }}<br>
                <strong>Location:</strong> {{ header.Location }}<br>
                <strong>Structural_Element:</strong> {{ header.Structural_Element }}<br>
                <strong>Chainage:</strong> {{ header.Chainage }}<br>
            </li>
            {% endfor %}
        </ul>
    
        {% for checklist_item in checklist_items %}
        {{checklist_item}}
        {% endfor %}

        {% for form_data in form_data %}
        {{form_data}}
        {% endfor %}

                     
                                  
                                  
                                  <input type="submit" class="btn btn-primary" value="save">
                                
                              </form>
                            
                          </div>
                      </div>
                  </div>
                 
               
{% endblock %}
